<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}E X A M  16_06{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% block stylesheets %}
        {% endblock %}
{# 
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %} #}
        <style>
        </style>
    </head>

    <body>
        <header>
            {% block body %}
            <h1 style= "color: pink; font-size: 5rem; height: 10rem">H E A D E R<br>E X A M 16_06</h1>{% endblock %}
        </header>

        <main style= "background-image: url('/assets/img/trame2.jpg'); color: pink; font-size: 5rem; font-weight: bolder; width : 80%; height: 50rem" class = "display: flex; justify-content: center"> tatatatatatatatatata
        </main>

        <footer>
        {% block footer %}
            <p>&copy; {{ "now"|date("Y") }} F O O T E R<br>E X A M 16_06</p>
        {% endblock %}
        </footer>

        {# Scripts JS #}
        <script src="{{ asset('js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
E X A M 16_06